    <div class="row">
      <div class="col-md-6 for">For (<%= @question.for_posts.count %>)</div>
      <div class="col-md-6 against">Against (<%= @question.against_posts.count %>)</div>
    </div>
    <div class="col-md-6">
      <%#= render 'shared/feed' %>
      <ol class="microposts">
      <%= render @question.for_posts %>
      </ol>
    </div>
    <div class="col-md-6">
      <ol class="microposts">
      <%= render @question.against_posts %>
      </ol>
    </div>